.draw {
  background-color: #cc0000;
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 5px;
}
.white {
  position: absolute;
  background-color: #ffffff;
  display: block;
  border-radius: 3px;
}
.verticalwhite {
  margin-top: 24.5px;
  height: 50px;
  width: 20px;
  margin-left: 40px;
}
.horizontalwhite {
  width: 50px;
  height: 20px;
  margin-left: 24.5px;
  margin-top: 40px;
}
.image {
  transform: translate(130px, -100px);
}
.horizontalstripe {
  position: relative;
  width: 50px;
  height: 20px;
  top: 0%;
  left: 25%;
  transform-origin: center bottom;
  transform: translateY(-50%);
}

.verticalstripe {
  top: 25%;
  position: relative;
  width: 20px;
  height: 50px;
  left: 50%;
  transform-origin: center left;
  transform: translateX(-50%);
}
